@import "bootstrap/less/bootstrap.less";
@import "jquery-ui-1.10.2.custom.min.css";

header {
	margin-bottom: 40px;

	h1 {
		margin: 0;
	}
}

.affix {
	position: fixed;
}

.alert {
	margin-top: 20px;
}


.module {
	h3 {
		margin-top: 0;
	}

	.module-about {
		margin-top: 20px;
	}
}

.anchor {
	color: @text-color;
	text-decoration: none;
}

.panel-heading {
	h3, h4 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.help {
	cursor: help;
}

.answer-drag, .question-drop {
	li {
		padding: 4px;
		border: 1px solid @grayLighter;
	}
}

.answer-drag {
	li {
		display: inline;
		background-color: @brand-info;
		color: @body-bg;
		cursor: pointer;
	}
}

.question-drop {
	li {
		margin-bottom: 10px;

		li {
			background-color: @brand-primary;
			color: @body-bg;
			border: none;
		}
	}
}

.question-input {
	width: 80%;
	margin-right: 10px;
}

.answer-correct {
	color: @brand-success;
}

.answer-failed {
	color: @brand-danger;
}

/**
 * Module
 */

//Damen
.dame {
	cursor: pointer;
}

footer {
	margin-top: 40px;
}